<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style-login.css">

    <title>Biosign</title>


  </head>

  <body>
  <div class="parent">
    <nav>
      <h4> BioSign </h4>

        <button href="/profile" type="button" class="btn btn-outline-light" style="padding:0px 80px 0px 80px"><li><a href="/profile">Profile Page</a></li></button>
        <button href="/sign" type="button" class="btn btn-outline-light" style="padding:0px 100px 0px 100px"><li><a href="/sign">Sign Pdf</a></li></button>


      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Hello, {{name}}!</a></li>
        <li><a href="/loggout">Log out</a></li>
      </ul>
    </nav>

      <div class="middle">


        <div class="right">


          <div >
          <a href=""><img src="https://i.ibb.co/L82NkfR/ipad.png" class="rounded float-left" alt="ipad" width="20%" height="50%" style="vertical-align:top; margin:0px 5% 5% 10%"></a>
            <div style="vertical-align:middle; margin:10% 10% 20% 10%">

              <h4  >ADVANCED SIGNATURES</h4>
              <h4 > TRUSTED WORLDWIDE</h4>
            </div>
          </div>
          <div class="rounded float-center" style="vertical-align:bottom;margin:0px 0px 0px 0px">
          <ul class="icons" >
            <div>
            <a><img src="https://i.ibb.co/2nGbyVx/reliable.png" alt="reliable" width="25%" height="20%" style="vertical-align:bottom; margin:0px 0px 0px 0px"></a>
            <a><img src="https://i.ibb.co/R00MhKg/secure.png" alt="secure" width="25%" height="20%" style="vertical-align:bottom; margin:0px 0px 0px 0px"></a>
            <a><img src="https://i.ibb.co/ZX3Z6m2/verified.png" alt="verified" width="25%" height="20%" style="vertical-align:bottom; margin:0px 0px 0px 0px"></a>

          </ul>
        </div>
        </div>
      </div>

    <nav-bottom>
      <div>
        <h4> Company </h4>
        <p> About us </p>
        <p> Contact Sales </p>
        <p> Contact Support </p>
      </div>
      <div>
      <h4> Products </h4>
      <p> Biotype </p>
      <p> Biosign </p>
      </div>

    </nav-bottom>
  </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>


  </html>
